<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NuevoBmas_Datos.Properties.Settings.CVT_WMS_SMMConnectionString"
            connectionString="Data Source=10.0.20.3;Initial Catalog=CVT_WMS_SMM;User ID=sa;Password=cvt.vdp22$;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>